:root {
	--background-color: rgb(15, 15, 15);
	--font-family: Roboto, Arial, sans-serif;
	--font-color: rgb(241, 241, 241);
	--font-color-secondary: rgb(170, 170, 170);
	--font-color-href: rgb(62, 166, 255);
	--font-size: 16px;
}

body {
	scrollbar-color: var(--font-color-secondary);
	margin: 0;

	background-color: var(--background-color);
	font-size: var(--font-size);
	font-family: var(--font-family);
	letter-spacing: 0.33px;
	color: var(--font-color);
}

button {
	font-size: var(--font-size);
}

input[type='text'] {
	font-size: inherit;
	font-family: inherit;
	color: var(--font-color);
	letter-spacing: 0.33px;
}

/* Helper class styles */

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}
